.container {
    &.addHeight {
      height: 1200px;
    }
    .scrollHeight {
      float: left;
      margin: 30px 0;
      text-align: center;
      width: 100%;
    }
    .verticalCenter {
      min-height: 100%;
      min-height: 70vh;
      display: flex;
      align-items: center;
    }
}