<div class="toolTipWrapper verticalCenter">
    <h3 class="card-header col-sm-12">
      Want to know the author of my famous quotes? Click the respective buttons!!!
    </h3>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <p class="card-text">Be fearless in the pursuit of what sets your soul on fire.</p>
                <button [appTooltip]="'Jennifer Lee'" class="btn btn-info" type="button"> Click me </button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <p class="card-text">The life you have led doesn't need to be the only life you have.</p>
                <button [appTooltip]="'Anna Quindlen'" class="btn btn-info" type="button"> Click me </button>
              </div>
            </div>
          </div>
    </div>   
</div>


